---
import { getEntry } from 'astro:content';
import PageLayout from '../layouts/PageLayout.astro';
import '../styles/pages/faqs.css';

const page = await getEntry('pages', 'faqs');
if (!page) {
  throw new Error('FAQs page not found');
}

const { Content } = await page.render();

---

<PageLayout page={page}>
  <div class="faqs-container">
    <Content />
  </div>
</PageLayout>
