---
import { getEntry } from 'astro:content';
import PageLayout from '../layouts/PageLayout.astro';
import '../styles/pages/faqs.css';
import { createFAQPageSchema } from '../lib/faqPageSchemaFactory';

const page = await getEntry('pages', 'faqs');
if (!page) {
  throw new Error('FAQs page not found');
}

const { Content } = await page.render();
const schema = createFAQPageSchema();

---

<PageLayout page={{ ...page, data: { ...page.data, schema } }}>
  <div class="faqs-container">
    <Content />
  </div>
</PageLayout>
