---
import { getEntry } from 'astro:content';
import PageLayout from '../layouts/PageLayout.astro';
import { createTeamPageSchema } from '../lib/teamPageSchemaFactory';
import '../styles/pages/team.css';

const page = await getEntry('pages', 'team');
if (!page) {
  throw new Error('Team page not found');
}

const { Content } = await page.render();
const schema = createTeamPageSchema();
---

<PageLayout page={{ ...page, data: { ...page.data, schema } }}>
  <div class="team-container">
    <Content />
  </div>
</PageLayout>
